body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: black;
}

.main {
  overflow: hidden;
  background: radial-gradient(#f4f4f4 #fff);
  border: 3px solid white;
  border-radius: 20px;
  max-width: 700px;
  min-width: 390px;
  height: auto;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.inner-div {
  width: 100%;
  background: #000280;
  height: auto;
  width: 100%;
}

h1 {
  margin-top: 0;
  padding-top: 35px;
  font-size: 2.5rem;
  color: white;
}

.main-h2 {
    font-size: 2rem;
  color: #fff;
}

input {
  color: #fff;
  font-size: 5rem;
  text-align: center;
  max-width: 35%;
  min-width: 25%;
  height: auto;
  border: 2px solid white;
  background: #000280;
  border-radius: 10px;
  margin: 10px;
}

/* used to remove the scroll arrows on the input field */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder {
  color: white;
}

button {
  color: #000280;
  margin: 25px;
  padding: 12px 35px;
  font-family: inherit;
  font-weight: bold;
  border-radius: 5px;
  border: none;

}

.info {
  margin: 20px;
  height: auto;
  background: white;
  width: auto;
  padding: 0 10px;
  border: 1px solid #000280;
  border-radius: 10px;
}

h2 {
  line-height: 0.5;
  color: #000280;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  line-height: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
}
